<h1>Posts</h1>
 
<table>
  <tr>
    <th>Name:</th>
    <th>Quote:</th>
	<th>Picture:</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.name %></td>
      <td><%= post.quote %></td>
	  <td><%= post.picture %></td>
    </tr>
  <% end %>
</table>